<div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
        <notification type="typeAlert" message="alertMessage"></notification>

        <h1>{{tituloPagina}}</h1>
        <form role="form">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="Ex: José da Silva"
                       ng-model="usuario.nome" ng-disabled="acao === 'visualizar'">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Ex: jsilva@gmail.com"
                       ng-model="usuario.email" ng-disabled="acao === 'visualizar'">
            </div>
            <div>
                <div>
                    <div>
                        <a ui-sref="listagemUsuarios">&larr; Voltar para Listagem</a>
                    </div>
                </div>
                <div>
                    <div style="float: right;" ng-show="acao !== 'visualizar'">
                        <a href style="color: crimson; margin-right: 5px;" ui-sref="listagemUsuarios" ng-show="acao !== 'view'">Cancelar</a>
                        <button class="btn btn-success" ng-click="salvarUsuario($event)" ng-show="acao !== 'view'">Salvar</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>